polkit.addRule(function(action, subject) {
    if ((action == "org.freedesktop.timedate1.set-time" ||
        action == "org.freedesktop.timedate1.set-timezone" ||
        action == "org.freedesktop.timedate1.set-local-rtc" ||
        action == "org.freedesktop.timedate1.set-ntp") &&
        subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
