/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/*
*
* Base16 Atelier Lakeside
* Author: Bram de Haan (http://atelierbramdehaan.nl)
*
*/
@define-color base00 #161b1d;
@define-color base01 #1f292e;
@define-color base02 #516d7b;
@define-color base03 #5a7b8c;
@define-color base04 #7195a8;
@define-color base05 #7ea2b4;
@define-color base06 #c1e4f6;
@define-color base07 #ebf8ff;
@define-color base08 #d22d72;
@define-color base09 #935c25;
@define-color base0A #8a8a0f;
@define-color base0B #568c3b;
@define-color base0C #2d8f6f;
@define-color base0D #257fad;
@define-color base0E #6b6bb8;
@define-color base0F #b72dd2;

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @base07;
    }

    to {
        color: @base07;
        background-color: @base09;
    }
}

@keyframes blink-critical {
    70% {
      color: @base07;
    }

    to {
        color: @base07;
        background-color: @base08;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "FontAwesome 5 Free Solid", "Noto Sans", Roboto, sans-serif;
}

/* The whole bar */
#waybar {
    background: @base00;
    color: @base07;
    font-family: "Noto Sans", Roboto, sans-serif;
    font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @base09;
}

#battery.critical {
    color: @base08;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: @base09;
}

#cpu.critical {
    color: @base08;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @base09;
}

#memory.critical {
    color: @base08;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @base01;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: @base09;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: @base0C;
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: @base08;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base04;
}

#workspaces button.focused {
    border-color: @base0C;
    color: @base07;
    background-color: @base0C;
}

#workspaces button.urgent {
    border-color: @base08;
    color: @base08;
}
