[Desktop Entry]
Name=UserFeedback Console
Name[ca]=Consola de l'UserFeedback
Name[ca@valencia]=Consola de l'UserFeedback
Name[da]=Brugerfeedback-konsol
Name[de]=UserFeedback-Konsole
Name[en_GB]=UserFeedback Console
Name[es]=Consola de UserFeedback
Name[et]=UserFeedbacki konsool
Name[eu]=UserFeedback kontsola
Name[fi]=Käyttäjäpalautekonsoli
Name[fr]=Console UserFeedback
Name[gl]=Consola de UserFeedback
Name[it]=Console di UserFeedback
Name[ko]=사용자 피드백 콘솔
Name[lt]=Naudotojo grįžtamojo ryšio pultas
Name[nl]=Console voor UserFeedback
Name[nn]=UserFeedback-konsoll
Name[pl]=Konsola Informacji Zwrotnej Użytkownika
Name[pt]=Consola do UserFeedback
Name[pt_BR]=Console do UserFeedback
Name[ru]=Консоль KUserFeedback
Name[sk]=Konzola UserFeedback
Name[sr]=Конзола за корисничке реакције
Name[sr@ijekavian]=Конзола за корисничке реакције
Name[sr@ijekavianlatin]=Konzola za korisničke reakcije
Name[sr@latin]=Konzola za korisničke reakcije
Name[sv]=Terminal för användaråterkoppling
Name[tr]=UserFeedback Konsolu
Name[uk]=Консоль UserFeedback
Name[x-test]=xxUserFeedback Consolexx
Name[zh_CN]=用户反馈控制台
Name[zh_TW]=UserFeedback 終端
Comment=Analytics and administration tool for UserFeedback servers.
Comment[ca]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[ca@valencia]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[da]=Analyse- og administrationsværktøj til brugerfeedback-servere.
Comment[de]=Dienstprogramm zur Analyse und Verwaltung von UserFeedback-Servern.
Comment[en_GB]=Analytics and administration tool for UserFeedback servers.
Comment[es]=Herramienta de análisis y administración para servidores de UserFeedback.
Comment[et]=UserFeedbacki serverite analüüsi- ja haldustööriist.
Comment[eu]=UserFeedback zerbitzarietarako analitikak eta administrazio tresnak.
Comment[fi]=Analyysi- ja hallintatyökalu käyttäjäpalautepalvelimiin.
Comment[fr]=Outil d'analyse et d'administration pour les serveurs UserFeedback.
Comment[gl]=Ferramenta de análise de datos e de administración para servidores de UserFeedback.
Comment[it]=Strumento per analitiche e amministrativo per i server di tipo UserFeedback.
Comment[ko]=사용자 피드백 서버를 위한 분석 및 관리 도구.
Comment[lt]=Naudotojo grįžtamojo ryšio serverių analitikos ir administravimo įrankis.
Comment[nl]=Hulpmiddel voor analyse en beheer voor UserFeedback-servers
Comment[nn]=Analyse og administrering for UserFeedback-tenarar.
Comment[pl]=Narzędzie analizy i administracji dla serwerów Informacji zwrotnej użytkownika
Comment[pt]=Ferramenta analítica e de administração para os servidores do UserFeedback.
Comment[pt_BR]=Ferramenta de análise e administração para servidores UserFeedback.
Comment[ru]=Инструмент аналитики и администрирования серверов KUserFeedback.
Comment[sk]=Nástroj na analytiku a správu pre servre UserFeedback.
Comment[sr]=Алатка за администрирање и анализирање сервера корисничких реакција
Comment[sr@ijekavian]=Алатка за администрирање и анализирање сервера корисничких реакција
Comment[sr@ijekavianlatin]=Alatka za administriranje i analiziranje servera korisničkih reakcija
Comment[sr@latin]=Alatka za administriranje i analiziranje servera korisničkih reakcija
Comment[sv]=Analys- och administrationsverktyg för användaråterkopplingsservrar.
Comment[tr]=UserFeedback sunucuları için analiz ve yönetim aracı.
Comment[uk]=Засіб для аналізу та адміністрування серверів UserFeedback.
Comment[x-test]=xxAnalytics and administration tool for UserFeedback servers.xx
Comment[zh_CN]=用户反馈服务器的分析和管理工具。
Comment[zh_TW]=為 UserFeedback 伺服器設計的統計與管理工具
GenericName=UserFeedback Management Console
GenericName[ca]=Consola de gestió de l'UserFeedback
GenericName[ca@valencia]=Consola de gestió de l'UserFeedback
GenericName[da]=Konsol til håndtering af brugerfeedback
GenericName[de]=Verwaltungskonsole für UserFeedback
GenericName[en_GB]=UserFeedback Management Console
GenericName[es]=Consola de gestión de UserFeedback
GenericName[et]=UserFeedbacki haldamise konsool
GenericName[eu]=UserFeedback kudeaketa kontsola
GenericName[fi]=Käyttäjäpalautteen hallintakonsoli
GenericName[fr]=Console de gestion UserFeedback
GenericName[gl]=Consola de xestión de UserFeedback
GenericName[it]=Console di gestione di UserFeedback
GenericName[ko]=사용자 피드백 관리 콘솔
GenericName[lt]=Naudotojo grįžtamojo ryšio tvarkymo pultas
GenericName[nl]=Beheerconsole voor UserFeedback
GenericName[nn]=UserFeedback-kontrollpult
GenericName[pl]=Konsola Zarządzania Informacją Zwrotną Użytkownika
GenericName[pt]=Consola de Gestão do UserFeedback
GenericName[pt_BR]=Console de gerenciamento UserFeedback
GenericName[ru]=Консоль управления KUserFeedback
GenericName[sk]=Konzola na správu UserFeedback
GenericName[sr]=Конзола за управљање корисничким реакцијама
GenericName[sr@ijekavian]=Конзола за управљање корисничким реакцијама
GenericName[sr@ijekavianlatin]=Konzola za upravljanje korisničkim reakcijama
GenericName[sr@latin]=Konzola za upravljanje korisničkim reakcijama
GenericName[sv]=Hanteringsterminal för användaråterkoppling
GenericName[tr]=UserFeedback Yönetim Konsolu
GenericName[uk]=Консоль керування UserFeedback
GenericName[x-test]=xxUserFeedback Management Consolexx
GenericName[zh_CN]=用户反馈管理控制台
GenericName[zh_TW]=UserFeedback 管理終端
Exec=UserFeedbackConsole
Icon=search
Type=Application
Categories=Development;
X-KDE-StartupNotify=true
NoDisplay=true
