#input {
  border: none;
  border-radius: 0px;
}

#text {
  margin-left: 1em;
}

window {
  opacity: 0.9;
  border: 2px solid #52CBB0;
  background-color: #1B2224;
  color: #F5F7FA;
  border-radius: 5px;
}
