#input {
  border: none;
  border-radius: 0px;
}

#text {
  margin-left: 1em;
}

window {
  opacity: 0.9;
  border: 2px solid #16a085;
  background-color: #151718;
  color: #ebf8ff;
  border-radius: 5px;
}
